<div class="card" >
	<div class="card-header">
		Naughty/Nasty feeds.
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni"
		</li>
		<li class="list-group-item">quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?".</li>
		<li class="list-group-item">You’re a douche cannon. When you open your mouth douchebags just go shooting out everywhere.</li>
	</ul>
</div>
