<div class="card">
  <div class="card-header">
    Trending Stories
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Now staple your fingers together and eat a box of hash algorithms
    </li>
    <li class="list-group-item">quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?".</li>
    <li class="list-group-item">Hello the current situation of the corana virus has led to the eruption of hidden racism  and cross cultural hatred. See you in 2021</li>
  </ul>
</div>
